@font-face {
    font-family: 'KSPBF';
    src: url('/fonts/KRPBF-290921.woff2') format('woff2'),
        url('/fonts/KRPBF-290921.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'KSPBF';
    src: url('/fonts/KBPBF-290921.woff2') format('woff2'),
        url('/fonts/KBPBF-290921.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'KSPBF';
    src: url('/fonts/KLPBF-290921.woff2') format('woff2'),
        url('/fonts/KLPBF-290921.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OGPBF';
    src: url('/fonts/ORPBF1209876-Regular.woff2') format('woff2'),
        url('/fonts/ORPBF1209876-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OGPBF';
    src: url('/fonts/OIPBF-1231481034.woff2') format('woff2'),
        url('/fonts/OIPBF-1231481034.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}