.checkout {
    padding-top: $p*4;
    @include breakpoint() {
        padding-top: 125px;   
    }
    .title {
        .num {
            font-size: percentage(14/38);
            font-family: $font-secondary;
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__{
        &shipping, &payment {
            margin-top: $p;
            border-top: 1px solid #000;
            padding-top: 50px;
        }
        &summary {
            padding: 15px;
            background-color: color(black);
            color: color(white);
            .button {
                font-size: 11px;
                width: $f;
                margin-top: $p;
                &--bg-white {
                    border: 1px solid color(black);
                }
                &--bg-black {
                    border: 1px solid color(white);
                }
            }
        }
        &gateways {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .title {
                width: $f;
            }
            @include breakpoint() {
                margin: 0 -10px;
                .title {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            @include breakpoint(lg) {
                margin: 0 -20px;
                .title {
                    padding-left: $p;
                    padding-right: $p;
                }
                
            }
        }
        &tab {
            width: $f;
            flex: 0 0 auto;
            text-align: center;
            margin-bottom: $p;
            display: flex;
            font-size: 14px;
            @include breakpoint() {
                width: auto;
                flex: 1 0 auto;
                margin: 0 10px $p;
            }
            @include breakpoint(lg) {
                margin: 0 $p $p;
            }
        }
        &method {
            padding: $p;
            width: $f;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 1px solid #000;
            cursor: pointer;
            transition: background $speed;
            &:hover, input[type="radio"]:checked + & {
                color: color(white);
                background-color: color(black);
                path {
                    fill: color(white)!important;
                }
            }
            svg {
                flex: 0 0 auto;
                width: 24px;
                height: 24px;
                margin-right: 15px;
            }
            &--image {
                svg {
                    max-width: $f;
                    width: 80px;
                    margin-right: 0;
                    height: 21px;
                }
            }
        }
        &getaway-desc {
            display: none;
            &--active {
                display: block;
            }
            p {
                font-size: 14px;
                & + p {
                    margin-top: 10px;
                }
                & + *:not(p) {
                    margin-top: 30px;
                }
            }
        } 
        &item {
            display: flex;
            align-items: start;
            justify-content: space-between;
            a {
                margin-right: 10px;
                color: color(white);
                transition: opacity $speed;
                &:hover {
                    overflow: 0.5em;
                }
            }
            .title + & {
                margin-top: $p;
            }
        }
        &row, &total {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &row {
            padding: $p 0 0;
        }
        &total {
            font-size: 12px;
            padding-top: $p;
            margin-top: $p;
            border-top: 1px solid transparentize(color(white), .8);
            strong {
                font-size: em(16, 13);
            }
        }
    }
}

.cc {
    &__{
        &item {
            border-radius: 4px;
            padding: 0 $p;
            border: 1px solid #000;
            &--cvc {
                max-width: 150px;
                border: 0;
                background-color: #d8d6d2;
            }
        }
    }
}